@import url('https://fonts.googleapis.com/css?family=Montserrat');

#first{
    /* background-image: url('../assets/background-first.png'); */
    background: linear-gradient(to bottom right, #ee0979, #ff6a00);
    position: relative;
    height: 100vh;
}
#second{
    background: #F7F7F7;
    height: auto;
    padding-left: 20%;
    padding-bottom: 40px;
}

#ieee{
    position: absolute;
    height: auto;
    width: 25%; 
    left: 10vw;
    top: 5vh;
}

#tu{
    position: absolute;
    height: auto;
    width: 9%;
    right: 13vw;
    top: 5vh;
}
#github-logo{
    position: absolute;
    width: 25%;
    height: auto; 
    top: 24vh;
    left: 37vw;
}
#gplus{
    position: absolute;
    width: 25%;
    height: auto; 
    top: 65vh;
    left: 41vw;
    font-size: 60px;
    font-weight: 700; 
}

#gwksp{
    position: absolute;
    width: 25%;
    height: auto; 
    top: 73vh;
    left: 45vw;
    font-size: 40px;
    font-weight: 500; 
}

#dandt{
    position: absolute;
    width: 25%;
    height: auto; 
    top: 79vh;
    left: 43vw;
    font-size: 40px;
    font-weight: 400; 
}
.part{
    margin:0;
    padding: 0;
    padding-top: 5%;
    padding-left: 30%;
    padding-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}

.maincontainer{
    position: relative;
    width: 320px;
    height: 410px;
}

.thecard{
    padding: 0;
    position: absolute;
    height: 105%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.thecard:hover{
    transform: rotateY(180deg);
}

.thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: white;
    color: #333;
    margin: 0;
    padding: 0;
}


.theback{
    margin: 0;
    padding: 30px;
    position: absolute;
    font-size: 16px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: linear-gradient(to bottom right, #0d3472, #0b4eba);
    color: white;
    transform: rotateY(180deg);
}

.card-image{
    height: 250px;
    width: 250px;
    margin: 35px;
    border-radius: 50%;
}
.name{
    margin: 10px;
    font-weight: 500;
    text-align: center;
}

.icons{
    margin: 5%;
}