<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IEEE Git Workshop</title>
    <link rel="stylesheet" href="css/minified-styles.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Comfortaa:600&display=swap" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    <div id="first">
                <img id="left_banner" src="./assets/ieee.png">
                <div id="right_banner"><img src="./assets/tu-logo.png"></div>
                <div class="logo_center">
                <img id="logo_center" src="./assets/gh-logo.png">
                </div>

                <div class="heading">
                <h1>Git & Github Workshop</h1>
                <h1>24th Sept. 2018</h1>
                </div>
    </div>
    <div id="second">
        <div ng-app="ieee_git" ng-controller="myController">
        <h1>Mentors: </h1>
        <div class="container">
        <div data-ng-repeat="mentor in mentors" class="card">
            <img class = "card_image" src="{{mentor.photo}}" alt="github image of {{mentor.name}}" class="card_image">
            
            <h2 class="message">"{{mentor.message}}"</h2>
            <h2>- {{mentor.name}}</h2>
        </div>
        </div>
        <h1>Participants: </h1>
        <div class="container">
            <div data-ng-repeat="participant in participants" class="card">
                <img class = "card_image" src="{{participant.photo}}" alt="Hi,I'm {{participant.name}}" onerror="this.src='assets/fallback.png'">
                <h2 class = "message">-"{{participant.message}}"</h2>
                <h2>- {{participant.name}}</h2>
            </div>
        </div>
    </div>
    </div>
    <h5 style="display: flex;margin: 0;justify-content: flex-end;"><a href="https://github.com/Ri2parna"style="text-decoration: none;color: #217595;font-weight: lighter;font-family: 'Comfortaa', cursive;">Created by: Rituparna_Das</a></h5>
    <script>
    var app = angular.module('ieee_git', []);
    app.controller('myController', function ($scope) {
        $scope.name = "Nitya";
        $scope.mentors = [
            {
                name: "Nityananda Gohain",
                photo: "https://avatars0.githubusercontent.com/u/26831659?s=460&v=4",
                message: "Hi, I love contributing to open source projects.",
            },
            {
                name: "Adirtha Borgohain",
                photo: "https://avatars1.githubusercontent.com/u/32612696?s=400&v=4",
                message: "Hi! I am ready to merge! are you?",
            },
            {
                name: "Sourish Sarmah",
                photo: "https://avatars2.githubusercontent.com/u/35569202?s=400&v=4",
                message: "Hi! I am ready to commit! are you ?"
            }
        ];

        $scope.participants = [
            {
                name: "Amar Parajuli",
                photo: "https://avatars1.githubusercontent.com/u/40538366?s=460&v=4",
                message: "Hi! I am Amar",
                github: "https://github.com/Amar-new",

            },
            // {
            //     name: "Shinchan",
            //     photo: "https://pm1.narvii.com/6864/482dc3ec7b767e8e6ec20c4262182bf10411586cr1-752-1061v2_hq.jpg",
            //     message: "Shinchan loves coding",
            //     github: "",
            //     facebook: "",
            //     email: "",
            // },
            {
                name: "Bishal Deb",
                photo: "https://avatars3.githubusercontent.com/u/36695144?s=460&v=4",
                message: "Hey there!!!",
                github: "https://github.com/bishal656",
                facebook: "",
                email: "",
            },
            {
                name: "Ananya",
                photo: "",
                message: "Oh",
                github: "https://github.com/AnanyaDeka",
                facebook: "",
                email: "",
            },
            {
                name: "Rabijit Singh",
                photo: "https://avatars0.githubusercontent.com/u/43310870?s=400&u=bc3a7bb5efccf227c123d0fb305e535a40c5f7ce&v=4",
                message: "Hello World (wow so original)",
                github: "https://github.com/rabijitsingh",
                facebook: "",
                email: "",
            },
            {
                name: "Subhasish Goswami",
                photo: "https://avatars1.githubusercontent.com/u/43542047?s=460&v=4s",
                message: "halo leute",
                github: "",
                facebook: "",
                email: "subhasishgoswami00@gmail.com",
            }
        ];
    });
</script>
</body>
</html>